body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#container {
    position: relative;
    width: 98%;
    height: 98%;
    background-color: white;
}

#bottomImg, #topCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure canvas and bottom image are at the base layer */
}
#bottomImg {
    visibility: hidden; /* Initially hidden until fully loaded */
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    background-color: grey;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000; /* Higher z-index to keep the button on top */
}

#Logo {
    position: absolute;
    width: auto;
    max-width: 30%;
    height: auto;
    top: 10%; /* 30% gap from the top of the container */
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain; /* Prevent distortion */
    z-index: 100; /* Higher z-index to place it above the canvas */
    
}

#Overlay {
    position: absolute;
    width: auto;
    max-width: 30%;
    height: auto;
    bottom: 10%; /* 30% gap from the bottom of the container */
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain; /* Prevent distortion */
    z-index: 100; /* Higher z-index to place it above the canvas */
    
}
#leftParty, #rightParty {
    position: absolute;
    bottom: 20px;
    width: 25%;
    height: auto;
    z-index: 200;
    animation: popIn 0.4s ease-out;
}

#leftParty {
    left: 5px;
   
}

#rightParty {
    right: 5px;
   
}
@keyframes popIn {
    0% { transform: scale(0.5) rotate(var(--angle)); opacity: 0; }
    100% { transform: scale(1) rotate(var(--angle)); opacity: 1; }
}

#leftParty, #rightParty {
    animation: popIn 0.4s ease-out;
}


#confettiCanvas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 150;
}
#gestureImg {
    position: absolute;
    z-index: 250; /* Ensure it is above everything */
    width: 22%;
    height: auto;
    top: 43%;
    border-radius: 50%;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    animation: floatSideways 1s ease-in-out infinite;
    pointer-events: none; /* Let touches pass through it */
}
@keyframes floatSideways {
    0% { transform: translateX(-50%) translateX(-30px); }
    50% { transform: translateX(-50%) translateX(30px); }
    100% { transform: translateX(-50%) translateX(-30px); }
}

@media (max-width: 480px) {
    .close-btn {
        width: 50px; /* Adjust width for mobile */
        height: 50px; /* Adjust height for mobile */
        font-size: 40px; /* Adjust font size for mobile */
    }
    #Logo, #Overlay {
        max-width: 65%; /* Make sure the images are responsive */
        height: 30%;
    }
}
